<form [formGroup]="formGroup">
  <h1>Group timers</h1>

  <mat-slider [min]="minGroups" [max]="maxGroups">
    <mat-label>Groups: {{ groups.value }}</mat-label>
    <input matSliderThumb formControlName="nbGroups" #groups>
  </mat-slider>

  <mat-form-field>
    <mat-label>Deadline</mat-label>
    <input matInput formControlName="deadline" [matTimepicker]="picker">
    <mat-timepicker-toggle matIconSuffix [for]="picker"/>
    <mat-timepicker interval="15min" #picker/>
  </mat-form-field>

  <button mat-raised-button (click)="createTimer()">Confirm</button>
</form>
